.article-list{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader{
    margin-top: 50px;
}